@import url(/Pruebas/Componentes/alerta.css);
@import url(/Pruebas/Componentes/botón.css);
@import url(/Pruebas/Componentes/tarjeta.css);
@import url(/Pruebas/Componentes/footer.css);
@import url(/Pruebas/Componentes/formulario.css);
@import url(/Pruebas/Componentes/Lista.css);
@import url(/Pruebas/Componentes/interfaz_Emergente.css);
@import url(/Pruebas/Componentes/navegacion.css);
@import url(/Pruebas/Componentes/Tarjeta-de-Productos.css);
@import url(/Pruebas/Componentes/Tablas.css);



* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --color-principal: #3498db;
    --color-secundario: #2ecc71;
    --color-fondo: #ecf0f1;
    --color-texto: #000000;
    --tamaño-fuente: 16px;
    --tamaño-grande: 20px;
    --tamaño-pequeño: 12px;
    --sombra: 0 2px 5px rgba(0, 0, 0, 0.1);
    --borde-radius: 9px;
}